{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="jumbotron">
    <h1 class="display-4"><strong>Welcome to Movie Chooser</strong></h1>
    <p class="lead">Stop endlessly scrolling through that streaming site and just f*cking watch something... good!</p>
    <hr class="my-4">
    <p>Choose from the options below and get your recommendations.</p>
</div>


<div class="page-container">

    <div class="choices-panel">
        <h2>Choose genre</h2>
        <br>
        <form action="{% url 'chooser:results' %}" method="get">
            {% for genre in genres %}
                <input type="checkbox" name="genre_choice" id="{{ genre.id }}" value="{{ genre.name }}">
                <label for="{{ genre.id }}">{{ genre.name }}</label><br>
            {% endfor %}

    </div>

    <div class="choices-panel">
        <h2>Choose movie length</h2>
        <br>
        <div class="range-slider">
            <label for="runtime">Runtime up to:</label>
            <input class="range-slider__range" type="range" id="runtime" 
                name="runtime" value="{{ max_runtime }}" min="{{ min_runtime }}" max="{{ max_runtime }}">
            <span class="range-slider__value">0</span>
        </div>
    </div>


    <div class="choices-panel">
        <h2>Choose decade</h2>
        <br>
            {% for decade in decades %}
                <input type="checkbox" name="decade_choice" id="{{ decade }}" value="{{ decade }}">
                <label for="{{ decade }}">{{ decade }}</label><br>
            {% endfor %}
        <br>

    </div>

    <div class="choices-panel">
        <input class="btn btn-primary btn-sm" type="submit" value="GO!">
    </div>

        </form>
    </div>

</div>

{% endblock %}