{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="jumbotron">
    <h1 class="display-4"><strong>Welcome to Movie Chooser</strong></h1>
    <p class="lead">Stop deciding, start watching!</p>
</div>


<div class="page-container">

    <div class="choices-panel">
        <h2>Choose genre(s)</h2>
        <p class="sub-heading">Leave blank to select all</p>
        <br>
        
        <form action="{% url 'chooser:results' %}" method="get">

            <div class="choice-buttons">
                {% for genre in genres %}
                    <input type="checkbox" name="genre_choice" id="{{ genre.id }}" value="{{ genre.name }}">
                    <label for="{{ genre.id }}">{{ genre.name }}</label><br>
                {% endfor %}
            </div> 
    </div>

    <div class="choices-panel">
        <h2>Choose movie length</h2>
        <br>
        <div class="range-slider">
            <label for="runtime">Runtime up to:</label>
            <div class="keep-row">
                <input class="range-slider__range" type="range" id="runtime" name="runtime" 
                    value="{{ max_runtime }}" min="{{ min_runtime }}" max="{{ max_runtime }}">
                    <span class="range-slider__value">0</span>
                    <p>mins</p>
            </div> 
        </div>
    </div>


    <div class="choices-panel">
        <h2>Choose decade(s)</h2>
        <p class="sub-heading">Leave blank to select all</p>
        <div class="choice-buttons">
            {% for decade in decades %}
                <input type="checkbox" name="decade_choice" id="{{ decade }}" value="{{ decade }}">
                <label for="{{ decade }}">{{ decade }}</label><br>
            {% endfor %}
        </div>
        <br>
    </div>

    <div class="choices-panel">
        <input class="btn btn-primary btn-lg" type="submit" value="GO!">
    </div>

        </form>

    </div>

</div>

{% endblock %}