{% extends 'base.html' %}

{% block content %}

{% load static %}
<br>
<h1>Can't decide what to watch?</h1>
<br>
<h2 class="center-subhead">All Movies</h2><br>

{% for movie in movies %}
<div class="card-container">
    <div class="card mb-3" style="width: 36rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="{{ movie.poster_url }}" alt="{{ movie.title }} poster image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.plot }}</p>
                <a href="#" class="btn btn-primary">Add to list</a>
                <a href="{% url 'detail' movie.imdbid %}" class="btn btn-primary">Movie info</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
