{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="centered-element">
    <div class="card mb-3" style="width: 36rem;">
        <div class="row no-gutters">

            <div class="col-12">
                <div class="card-body">
                    <h5 class="card-title auth-header">LOGIN</h5>

                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="username" placeholder="Username..." class="form-control">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                    <input type="password" name="password" placeholder="Password..." class="form-control" >
                            </div>
    
                                <div class="d-flex justify-content-center mt-3 login_container">
                                     <input class="btn login_btn" type="submit" value="Login">
                                   </div>
                        </form>

                </div>
                {% for message in messages %}
                    <p class="messages">{{ message }}</p>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>




{% endblock %}