{% load static %}
<div class="centered-element">
    <div class="card mb-3" style="width: 36rem;">
        <div class="row no-gutters">
            <div class="col-4">
                <img class="card-img" src="{{ movie.poster_url }}" alt="{{ movie.title }} poster image">
            </div>
                <div class="col-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.plot }}</p>
                    <br>
                    <p class="card-text score"><strong>Average Score: {{ movie.avg_rating }}</strong></p>
                    <a href="#" class="btn btn-primary"><img src="{% static 'images/add.png' %}"></a>
                    <a href="{% url 'detail' movie.imdbid %}" class="btn btn-primary"><img src="{% static 'images/info.png' %}"></a>
                    </div>
                </div>
        </div>
    </div>
</div>
