{% block content %}

<!-- <div class="container"> -->
  <div class="detail-panel">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="{{ movie.poster_url }}" alt="{{ movie.title }} poster image">
    </div>
    
    <div class="col-md-8">
      <h3 class="my-3">{{ movie.title }}</h3>
      <p>{{ movie.plot }}</p>
      <ul>
        <li>Starring: {{ actors }}</li>
        <li>Directed by: {{ director }}</li>
        <li>Released: {{ year }}</li>
        <li>Genre: {{ genre }}</li>
      </ul>
      <h5 class="my-5">Movie Chooser score: {{ movie.avg_rating }}</h5>
    </div>

    <div class="back-button">
      <a href="javascript:history.back()" class="btn btn-primary">Back</a>
    </div>

  </div>
  <!-- /.row -->
  </div>
<!-- </div> -->
{% endblock %}