{% block content %}

<div class="container">
  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{ movie.poster_url }}" alt="{{ movie.title }} poster image">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">{{ movie.title }}</h3>
      <p>{{ movie.plot }}</p>
      <ul>
        <li>Starring: {{ actors }}</li>
        <li>Directed by: {{ director }}</li>
        <li>Released: {{ year }}</li>
        <li>Genre: {{ genre }}</li>
      </ul>
      <h5 class="my-5">Average score: {{ movie.avg_rating }}</h5>
    </div>

  </div>
  <!-- /.row -->
</div>
{% endblock %}


<!-- <div class="card-container">
    <div class="card mb-3" style="width: 36rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="{{ movie.poster_url }}" alt="{{ movie.title }} poster image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.plot }}</p>
                <a href="#" class="btn btn-primary">Add to list</a>
                </div>
            </div>
        </div>
    </div>
</div> -->