{% block content %} {% load static %}
<!-- <div class="container"> -->
<div class="detail-panel">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-4">
      <img
        class="img-fluid"
        src="{{ movie.poster_url }}"
        alt="{{ movie.title }} poster image"
      />
    </div>

    <div class="col-md-8">
      <h3 class="my-3">{{ movie.title }}</h3>
      <p>{{ movie.plot }}</p>
      <ul>
        <li>Starring: {{ actors }}</li>
        <li>Directed by: {{ director }}</li>
        <li>Released: {{ year }}</li>
        <li>Genre: {{ genre }}</li>
      </ul>
      <ul class="ratings-details">
        {% if movie.imdb_rating >= 0 %}
        <li>
          <img
            class="ratings-logo"
            src="{% static 'images/imdb.png' %}"
            alt="IMDB rating"
          />
          {{ movie.imdb_rating }}
        </li>
        {% endif %} {% if movie.rotten_tomatoes >= 0 %}
        <li>
          <img
            class="ratings-logo"
            src="{% static 'images/rotten.png' %}"
            alt="IMDB rating"
          />
          {{ movie.rotten_tomatoes }}
        </li>
        {% endif %} {% if movie.metacritic >= 0 %}
        <li>
          <img
            class="ratings-logo"
            src="{% static 'images/metacritic.png' %}"
            alt="IMDB rating"
          />
          {{ movie.metacritic }}
        </li>
        {% endif %}
      </ul>
      <h5 class="my-5">Average score: {{ movie.avg_rating }}</h5>
    </div>

    <div class="detail-buttons">
      <!-- <a href="javascript:history.back()" class="btn btn-primary back">
        <i class="fas fa-step-backward"></i>
        <p class="button-text">Back</p>
      </a> -->
      <button
        type="button"
        class="btn btn-primary back"
        name="imdbid"
        onclick="{history.back()}"
      >
        <i class="fas fa-step-backward"></i>
        <p class="button-text">Back</p>
      </button>

      {% if try_again %}
      <a href="{% url 'surprise' %}" class="btn btn-primary again"
        >Try again!</a
      >
      {% endif %} {% if not movie.added %}
      <form action="{% url 'lists:my_list' %}" method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-primary list-btn"
          name="imdbid"
          value="{{movie.imdbid}}"
        >
          <img src="{% static 'images/add.png' %}" alt="Add to list" />
          <p class="button-text">List</p>
        </button>
      </form>
      {% else %}
      <form action="{% url 'lists:remove' movie.item_id %}" method="post">
        {% csrf_token %}
        <button
          class="btn btn-primary added"
          name="imdbid"
          value="{{
          movie.imdbid
          }}"
        >
          <img src="{% static 'images/add.png' %}" alt="Added to list" />
          <p class="button-text">Added</p>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- </div> -->
{% endblock %}
