{% extends 'base.html' %} {% block content %} {% load static %}

<div class="jumbotron">
  <h1 class="display-4 center-subhead">My List</h1>
</div>

<div class="page-container">
  {% if list_items %}

  <table id="my_list_table">
    {% for list_item in list_items %}

    <div class="centered-element">
      <div class="card mb-3" style="width: 36rem">
        <div class="row no-gutters">
          <div class="col-4">
            <img
              class="card-img"
              src="{{ list_item.movie.poster_url }}"
              alt="{{ movie.title }} poster image"
            />
          </div>

          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">{{ list_item.movie.title }}</h5>
              <p class="card-text">{{ list_item.movie.plot }}</p>
              <p class="card-text score">
                Average Score: {{ list_item.movie.avg_rating }}
              </p>
              <p class="card-text">Added on: {{ list_item.date_added }}</p>

              <form
                action="{% url 'lists:remove' list_item.id %}"
                method="post"
              >
                {% csrf_token %}
                <button
                  type="submit"
                  class="btn btn-primary remove"
                  name="remove"
                  value="{{"
                  list_item.id
                  }}
                >
                  <i class="fas fa-minus" alt="Remove from list"></i>
                  <p class="button-text">Remove</p>
                </button>
              </form>

              <form
                action="{% url 'lists:update' list_item.id %}"
                method="post"
              >
                {% csrf_token %} {% if not list_item.watched %}
                <button
                  type="submit"
                  class="btn btn-primary watched"
                  name="update"
                  value="{{"
                  list_item.id
                  }}
                >
                  <i class="far fa-square" alt="Updated watched movie"></i>
                  <p class="button-text">watched</p>
                </button>
                {% else %}
                <button
                  type="submit"
                  class="btn btn-primary watched"
                  name="update"
                  value="{{list_item.id}}"
                >
                  <i
                    class="far fa-check-square"
                    alt="Updated watched movie"
                  ></i>
                  <p class="button-text">watched</p>
                </button>
                {% endif %}
              </form>

              <button
                class="btn btn-primary toggle-detail"
                name="more"
                data-id="{{list_item.movie.imdbid}}"
              >
                <i class="fas fa-info-circle" alt="Movie info"></i>
                <p class="button-text">More</p>
              </button>
            </div>
          </div>
          <div
            class="card-detail card-text hide"
            id="{{list_item.movie.imdbid}}-detail"
          >
        <ul>
          <li>
            Starring: 
                {{ list_item.movie.actors.all|join:", " }}
          </li>
          <li>
            Directed by: 
                {{ list_item.movie.director.all|join:", " }}
          </li>
          <li>Released: {{ list_item.movie.released|date:"Y" }}</li>
          <li>Genre: 
                {{ list_item.movie.genre.all|join:", " }}
          </li>
        </ul>
            <ul class="ratings-details">
              {% if list_item.movie.imdb_rating >= 0 %}
              <li>
                <img
                  class="ratings-logo"
                  src="{% static 'images/imdb.png' %}"
                  alt="IMDB rating"
                />
                {{ list_item.movie.imdb_rating }}
              </li>
              {% endif %} {% if list_item.movie.rotten_tomatoes >= 0 %}
              <li>
                <img
                  class="ratings-logo"
                  src="{% static 'images/rotten.png' %}"
                  alt="IMDB rating"
                />
                {{ list_item.movie.rotten_tomatoes }}
              </li>
              {% endif %} {% if list_item.movie.metacritic >= 0 %}
              <li>
                <img
                  class="ratings-logo"
                  src="{% static 'images/metacritic.png' %}"
                  alt="IMDB rating"
                />
                {{ list_item.movie.metacritic }}
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </table>
</div>
{% else %}

<div class="choices-panel">
  <h2 class="center-subhead"><strong>No movies added to list</strong></h2>

  {% endif %}
</div>

{% endblock %}
