{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="jumbotron">
    <h1 class="display-4 center-subhead">My List</h1>
</div>

<div class="page-container">

{% if list_items %}

    <table id="my_list_table">
        {% for list_item in list_items %}

        
        <div class="centered-element">
            <div class="card mb-3" style="width: 36rem;">
                <div class="row no-gutters">
        
                    <div class="col-4">
                        <img class="card-img" src="{{ list_item.movie.poster_url }}" alt="{{ movie.title }} poster image">
                    </div>
        
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ list_item.movie.title }}</h5>
                            <p class="card-text">{{ list_item.movie.plot }}</p>
                            <p class="card-text score">Average Score: {{ list_item.movie.avg_rating }}</p>
                            <p class="card-text">Added on: {{ list_item.date_added }}</p>
        
                            <form action="{% url 'lists:remove' list_item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary remove" name="remove" value={{ list_item.id }}>
                                    <img src="{% static 'images/add.png' %}" alt="Remove from list">
                                    <p class="button-text">Remove</p></button>
                            </form>
        
                            <a href="{% url 'detail' list_item.movie.imdbid %}" class="btn btn-primary">
                                <img src="{% static 'images/info.png' %}" alt="Movie info">
                                <p class="button-text">More</p></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        {% endfor %}
    </table>

</div>
{% else %}

<div class="choices-panel">
<h2 class="center-subhead"><strong>No movies added to list</strong></h2>

{% endif %}
<!-- d
{% endblock %}

{% if page_obj %}

{% for movie in page_obj %}

{% include 'movie_card.html' %}

{% endfor %}

{% include 'pagination.html' %}

</div>

{% else %}

<div class="choices-panel">
<h2 class="center-subhead"><strong>No movies match your search</strong></h2>
<h2 class="center-subhead">Try again</h2>
<br>
<a href="{% url 'chooser:homepage' %}">Back to homepage</a>
</div>

{% endif %} -->