/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*  --- overall ---  */
p, a, label {
    font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('../images/background_small_flare.jpg');
}

h1, h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
}

.jumbotron {
    background-color: rgba(34,34,34,0.9);
    color: white;
    padding: 2em 2em;
    border-radius: 0;
}

.centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-subhead {
  text-align: center;
}

.page-container {
  width: 80%;
  margin: auto;
}

/* remove bootstrap form styling */

.card-body > form {
  all: none;
  margin: 0;
  padding: 0;
  border: none;
  display: inline;
}

.card-body > form > .btn {
  min-width: 4rem;
  height: 3.5rem;
  color: var(--clr-black);
}

/* buttons */

.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}


/* ---  movie_card  --- */

.card.mb-3 {
    box-shadow: 5px 10px 18px #444;
}

.row.no-gutters {
    margin: 1em;
}

.col-4 {
  margin: auto auto;
}

.card-img {
  margin: auto;
  display: block;
  text-align: center;
}

.card-text {
  font-size: small;
}

.card-body > .btn-primary {
  width: 4rem;
  height: 3.5rem;
  color: var(--clr-black);
}

.btn-primary > img {
  width: 1.5rem;
}

.added {
  background-color: var(--clr-grey-5);
  color:transparent;
  border: none;
}

p.button-text {
  font-size: x-small;
  margin: .4em 0 .1em 0;
}

.card-text.score {
  font-weight: bolder;
}


/* ---  movie_detail  --- */

.col-md-4 {
  text-align: center;
}

.my-5 {
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
}

.detail-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.detail-buttons > .back {
  background-color: black;
  border: black;
  min-width: 3em;
}

.detail-buttons > .again {
  background-color: #574694;
  border: black;
  min-width: 3em;
}

.detail-buttons > .again:hover {
  background-color: #313E76;
}

.detail-panel {
  background-color: #eee;
  color: black;
  padding: 2em;
  border-radius: 5px;
  margin: 1em 0;
  box-shadow: 5px 10px 18px #444;
}


/* ---  homepage  --- */

.sub-heading {
  font-size: small;
}

.choices-panel {
    background-color: #eee;
    color: black;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 5px 10px 18px #444;
}

.choices-panel > .btn-primary {
  display: block;
  margin: auto;
  width: 80%;
}

.choice-buttons {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0.2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.25rem;
    align-items: center;
}

.choice-buttons > :checked+label {
    background: url('../images/background_small_flare.jpg');
    background-attachment: fixed;
    border: 2px solid #222;
    color: white;
}

.choice-buttons > label:hover {
    opacity: 0.7;
    transform: scale(0.98);
  }


input[type="checkbox"] {
    display: none;
    margin: 0;
}


label, .range-slider__value {
    border: 2px solid #999;
    padding: 0.3em;
    display: block;
    font-weight: bolder;
    border-radius: 10px;
    font-size: large;
    background-color: transparent;
    position: relative;
    margin: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

:checked+label {
    background: #111;
  }

label[for="runtime"] {
    border: 0;
    padding: 0.5em;
    display: inline-block;
    font-weight: bolder;
    font-size: large;
    background-color: rgba(255, 255, 255, 0);
    cursor:auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.range-slider__range {
    cursor: pointer;
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #3DA195;
    cursor: pointer;
  }
  
.range-slider__range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3DA195;
    cursor: pointer;
  }

.range-slider__value {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: large;
    color: white;
    display:inline-block;
    font-weight: bolder;
    border-radius: 10px;
    border: 0;
    background-color: #111;
    margin-left: 1em;
  }

.btn-primary {
  background: #3DA195;
  border-color: #444;
  box-shadow: 3px 3px; 
  margin: 3% 1%;
}

.ratings-logo {
  height: 1.2em;
}

.ratings-details {
  list-style-type: none;
  overflow: hidden;
  padding: 1em 0;
  border-color: #444;
  border-radius: 2px;
  border-width: 1px;
}

.ratings-details > li {
  float: left;
  padding: .2em 0;
  padding-right: .8rem;
  font-weight: bold;
}

.btn-primary:hover {
  background: #3DA195;
  border-color: #444;
  box-shadow: 3px 3px; 
}

.form-inline.my-2.my-lg-0 {
    right: 2em;
    position: absolute;
  }

.keep-row {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.keep-row.range-slider__range, 
.keep-row.range-slider__value, 
.keep-row > p {
  display: inline-block;
}

.keep-row > p {
  font-size: small;
  margin-right: 2%;
}

@media (max-width: 1000px) {
  .form-inline.my-2.my-lg-0 {
    right: inherit;
    position: relative;
  }
}

@media (max-width: 775px) {
  .card-title {
    font-size: 1em;
  }
  .card-text {
    font-size: x-small;
  }
  .card-text.score {
    font-size: 0.75em;
  }
  .card-text.score {
    font-size: 0.75em;
  }
  .page-container {
    width: 90%;
    margin: auto;
  }
  .row.no-gutters {
    margin: .15em 0.25em;
  }
  .card-body {
    padding: 1em 1.2em;
  }
  .card-img {
    padding: 0.1em;
  }
  .ratings-details > li {
    float: none;
    padding-bottom: .3rem;
    padding-right: .7rem;
  }
  .my-5 {
    margin-top: 1rem!important;
  }
}


/* ---   pagination  --- */

.step-links {
  margin: auto;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: large;
  font-weight: bolder;
}

.step-links > a {
  color: #eee;
  font-size: medium;
  text-decoration: underline;
  font-size: large;
}



