.card-container {
    margin: 0 auto !important;
    padding: 10px 0;
    width: 23rem;
}

.center-subhead {
    text-align: center;
}

/* .jumbotron {
    background-image: url("/static/hero_homepage.jpg");
    background-size: cover;
    color: white;
} */

/* .chooser-div {
    padding: 30px
} */